.app{
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 420px;
    background-color: #0b0d21;
    color: white;
}
h1{
    font-weight: bold;
    padding: 20px 0px;
    font-size: 36px;
    color: black;
}
.icon{
    background-image: url(/sfsites/c/resource/currency);
    max-width: fit-content;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
lightning-combobox{
    display: inline-block;
    color: black;
}
.app{
    min-height: 100vh;
    background-image: url(/sfsites/c/resource/conback);
    background-size: cover;
    background-repeat: no-repeat;
}